In [1]:
class myclass:
    x=90

In [2]:
p=myclass()
print(p.x)

90

In [6]:
print(myclass.x)

90

In [3]:
class myclass:
    x=90
    y=67

In [5]:
p1=myclass()
print(p1.x)
print(p1.y)

90
67

In [8]:
print(myclass.x,myclass.y)

90 67

In [5]:
class myclass:
    x=90
    y=67
    z=x+y

In [6]:
p1=myclass()
print(p1.z)

157

In [7]:
p1=myclass()
print(p1.z)
print(type(p1))

157
<class '__main__.myclass'>

In [16]:
class student:
    def __init__(detail,name,id,stream):
        detail.name=name
        detail.id=id
        detail.stream=stream
p=student("soubhagini",2305298194,"MCA")
print(p.name)
print(p.id)
print(p.stream)

soubhagini
2305298194
MCA

python classes/object

In [4]:
class myclass:
    x="how are you!!"
    print("hii,sakkina",x)

hii,sakkina how are you!!

In [9]:
y=myclass()
print(y.x)
print(type(y))

how are you!!
<class '__main__.myclass'>

In [10]:
class students:
    print("hello sakkina")
z=students()
print(type(z))

hello sakkina
<class '__main__.students'>

In [11]:
class student:
    def name():
        print("hello,sakkina")
student.name()

hello,sakkina

In [12]:
class student:
    year=2024
    def fun(a):
        print("Happy RathYatra",a.year)
x=student()
x.fun()

Happy RathYatra 2024

In [13]:
student.fun()

TypeError: student.fun() missing 1 required positional argument: 'a'

The init() function

In [20]:
class employee:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def fun(self):
        print("hello my name is",self.name,"and my age is",self.age)
        #print("my age is",self.age)
p1=employee("sakkina",30)
p1.fun()

hello my name is sakkina and my age is 30

In [21]:
class student:
    def __init__(self,name):
        self.name=name
sakkina=student(name="sakkina!")
print(sakkina.name)

sakkina!

In [27]:
class student:
    def __init__(self,name):
        self.name=name
a=student(name="sakina")
b=student(name="pkd")
print(a.name)
print(b.name)

sakina
pkd

In [37]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=person=("sakkina",23)
#print(p1.name)
#print(p1.age)

In [14]:
class student:
    Total=500
    def __init__(self,marks):
        self.marks=marks
        print("initialized...")
    def findLoss(self):
        return self.Total-self.marks
    def findPercentage(self):
        return(self.marks/self.Total)*100

In [17]:
a = student(marks=450)
print("Total Marks",a.Total)
print("Lost Marks",a.findLoss())
print("percentage",a.findPercentage())
print("percentage is:{:.2f}%".format(a.findPercentage()))

initialized...
Total Marks 500
Lost Marks 50
percentage 90.0
percentage is:90.00%

The __init__ method

In [6]:
def __init__(self,marks):
    self.marks=marks
    print("initialized...")

In [7]:
class student:
    Total=500
    def __init__(self,name,marks,gender):
        self.name=name
        self.marks=marks
        self.gender=gender
        print("initialise...")
    def __len__(self):
        return self.marks
    def __str__(self):
        return "Name:%s|Marks:%s" %(self.name,self.marks,self.gender)
    def __del__(self):
        print("student database is deleted")

In [10]:
a=student('sakina','345','female')
b=student('pkd',456,'male')

initialise...
student database is deleted
initialise...

In [11]:
print(b)

student database is deleted

TypeError: not all arguments converted during string formatting

In [12]:
print('Marks:',len(a))
del a

TypeError: 'str' object cannot be interpreted as an integer

In [13]:
print(a)

TypeError: not all arguments converted during string formatting

In [18]:
class stu:
    Total=500
    def __init__(a,marks):
        a.marks=marks
        print("initialization...")
    def mul(self):
        return self.marks * self.Total
p1=stu(400)
p1.mul()

initialization...

200000

In [19]:
class student:
    Total=500
    def __init__(self,name,marks,gender):
        self.name=name
        self.marks=marks
        self.gender=gender
        print("initialise...")
    def __len__(b):
        return b.marks
a=student('sakina',450,'female')
print(a)
print('Marks',len(a))

initialise...
<__main__.student object at 0x000001FBF529E5D0>
Marks 450

The Self Parameter

In [22]:
class person:
    def __init__(mysillyobject,name,age):
        mysillyobject.name=name
        mysillyobject.age=age
    def myfun(abc):
        print("hello my name is "+abc.name, +abc.age)
p1=person("john",36)
p1.myfun()

hello my name is john 36

In [23]:
p1.age=40
p1.myfun()

hello my name is john 40

delete object properties

In [24]:
del p1.age
p1.myfun()

student database is deleted

AttributeError: 'person' object has no attribute 'age'

Delete objects

In [25]:
del p1
p1.myfun()

NameError: name 'p1' is not defined

The pass statement

In [26]:
class person:
    pass

In [27]:
class person:

SyntaxError: incomplete input (1794715009.py, line 1)

create parent class

In [30]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)
        
x=Person('sakinaaaa','pkddd')
x.printname()

sakinaaaa pkddd

create a child class

In [31]:
class student(Person):
    pass

In [32]:
x=student("sakkina","pkd")
x.printname()

sakkina pkd

Add the init() function

In [33]:
class student(Person):
    def __init__(self,fname,lname):
        pass

In [34]:
class student(Person):
    def __init__(self,fname,lname):
        Person.__init__(self,fname,lname)
        x=student("sakkina","pkd")
x.printname()

sakkina pkd

use the super() function

In [35]:
class student(Person):
    def __init__(self,fname,lname):
        super().__init__(self,fname,lname)

Add properties

In [36]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)
class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.graduationyear = 2022
x = Student("Soubhagini", "Das")
print(x.graduationyear)
x.printname()

2022
Soubhagini Das

In [39]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)
class Student(Person):
    def __init__(self, fname, lname,year):
        super().__init__(fname, lname)
        self.graduationyear = year
x = Student("Soubhagini", "Das",2022)
print(x.graduationyear)
#x.printname()

2022

Add Method

In [45]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)
class Student(Person):
    def __init__(self, fname, lname,year):
        super().__init__(fname, lname)
        self.graduationyear = year
    def welcome(self):
        print("welcome",self.firstname,self.lastname,"to the class of",self)
x = Student("Soubhagini", "Das",2022)
#print(x.graduationyear)
x.welcome()

welcome Soubhagini Das to the class of <__main__.Student object at 0x000001FBF53A35D0>

Python Inheritance

In [46]:
class person:
    def __init__(self):
        print("profile created")
    def name(self):
        print("Soubhagini Das")
    def age(self):
        print("23")

In [47]:
class person1(person):
    def __init__(self):
        super().__init__()
        print("company profile created")
    def name(self):
        print("pradyumna kumar Das")
    def type(self):
        print("private space travel")

In [48]:
person1_profile=person1()
person1_profile.name()
person1_profile.age()
person1_profile.type()

profile created
company profile created
pradyumna kumar Das
23
private space travel

In [49]:
a=person1()

profile created
company profile created

Polimerphism

In [50]:
class Elon:
    def __init__(self, name):
        self.name = name
    def type(self):
        return "Entrepreneur"
class Sundar:
    def __init__(self, name):
        self.name = name
    def type(self):
        return "CEO"

In [51]:
person1 = Elon('Elon Musk')
person2 = Sundar('Sundar Pichai')
def print_person_type(person):
    print(f"{person.name} is a {person.type()}")
print_person_type(person1)
print_person_type(person2)

Elon Musk is a Entrepreneur
Sundar Pichai is a CEO

Use one function directly in a class

using static method

In [52]:
class MyClass:
    @staticmethod
    def my_function(arg1, arg2):
        return arg1 + arg2

result = MyClass.my_function(1, 2)
print(result)

3

In [53]:
class MyClass:
    #@staticmethod
    def my_function(arg1, arg2):
        return arg1 + arg2

result = MyClass.my_function(1, 2)
print(result)

3

Using classmethod

In [54]:
class MyClass:
    class_variable = 10
    @classmethod
    def my_function(cls, arg1):
        return cls.class_variable + arg1

result = MyClass.my_function(5)
print(result)

15

Using Regular Methods

In [55]:
class MyClass:
    def __init__(self, value):
        self.value = value
    def my_function(self, arg1):
        return self.value + arg1
instance = MyClass(10)
result = instance.my_function(5)
print(result)

15

Encapsulation
Public Members

In [56]:
class MyClass:
    def __init__(self, value):
        self.value = value
obj = MyClass(10)
print(obj.value)

10

Protected Members

In [57]:
class MyClass:
    def __init__(self, value):
        self._value = value
    def _protected_method(self):
        return self._value
obj = MyClass(10)
print(obj._value)

10

In [58]:
obj._protected_method()

10

Private Members

In [59]:
class MyClass:
    def __init__(self, value):
        self.__value = value
    def get_value(self):
        return self.__value
obj = MyClass(10)
print(obj.get_value())

10

In [60]:
print(obj.__value)

AttributeError: 'MyClass' object has no attribute '__value'

Using Getter and Setter Methods

In [61]:
class MyClass:
    def __init__(self, value):
        self.__value = value
    def get_value(self):
        return self.__value
    def set_value(self, value):
        self.__value = value
obj = MyClass(10)
print(obj.get_value()) 
obj.set_value(20)
print(obj.get_value())

10
20

Properties

In [63]:
class MyClass:
    def __init__(self, value):
        self.__value = value
    @property
    def value(self):
        return self.__value
    @value.setter
    def value(self, value):
        self.__value = value
obj = MyClass(10)
print(obj.value) 
obj.value = 20
print(obj.value)

10
20