In [20]:
a=[2,3,4,5]
num1=0  #initialization
for i in a:
    num1=num1+i
    print("num:",num1)

num: 2
num: 5
num: 9
num: 14

In [23]:
print("after",i,"iteration the sum",num1)

after 5 iteration the sum 14

In [44]:
n=int(input("enter the value of n:"))
'''m=int(input("enter the value of m:"))'''
for i in range(n):
    print("*",end='')
  for j in range(n-1):
      print("*",end='')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [50]:
fruits=['orange','apple','banana','strawberry']
for fruit in fruits:
          print(len(fruit))

6
5
6
10

In [53]:
[len(fruit) for fruit in fruits]

[6, 5, 6, 10]

In [1]:
# Function to print multiplication table
def print_multiplication_table(n, upto=10):
    print(f"Multiplication table for {n}:")
    for i in range(1, upto + 1):
        print(f"{n} x {i} = {n * i}")

# Input number
number = int(input("Enter a number to print its multiplication table: "))
# Input table range (optional)
table_range = input("Enter the range for the multiplication table (default is 10): ")
if table_range:
    table_range = int(table_range)
else:
    table_range = 10

# Print the multiplication table
print_multiplication_table(number, table_range)

Enter a number to print its multiplication table:  5
Enter the range for the multiplication table (default is 10):  10

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [7]:
seq=[1,2,3,45,5]
for i in seq:
    print(i,end=',')

1,2,3,45,5,

In [9]:
seq=[1,2,3,45,5]
for item in seq:
    print(item)

1
2
3
45
5

In [10]:
fruits=['apple','mango','grapes','coconut']
for item in fruits:
    print(item)

apple
mango
grapes
coconut

In [12]:
for i in range(9):
    print(i,"values")

0 values
1 values
2 values
3 values
4 values
5 values
6 values
7 values
8 values

In [13]:
for i in range(0,10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [14]:
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [18]:
for i in range(0,100,2):
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [24]:
p=['a','b','c','d','e']
for i in range(len(p)):
    print("item at index",i,"is:",p[i])

item at index 0 is: a
item at index 1 is: b
item at index 2 is: c
item at index 3 is: d
item at index 4 is: e

In [26]:
a=[0,1,2,3,4,5,6]
sum=0
for i in a:
    sum=sum+i
    print(sum)

0
1
3
6
10
15
21

In [27]:
a=[0,1,2,3,4,5,6]
sum=0
for i in a:
    sum=sum+i
    print("after",i,"iteration the sum is:",sum)

after 0 iteration the sum is: 0
after 1 iteration the sum is: 1
after 2 iteration the sum is: 3
after 3 iteration the sum is: 6
after 4 iteration the sum is: 10
after 5 iteration the sum is: 15
after 6 iteration the sum is: 21

In [38]:
name=['sakkina','pkd','rimmi']
for i in range(1,2):
    print("i like ",name[i])

i like  pkd

In [40]:
lb=int(input("enter the lower bound value"))
ub=int(input("enter the upper bound value"))
for i in range(lb,ub+1):
    if i%2==0:
        print(i,end=" ")

enter the lower bound value 1
enter the upper bound value 6

2 4 6

In [11]:
n=int(input("enter n value:"))
for i in range(n):
    print("*",end="")

enter n value: 5

*****

In [17]:
n=int(input("enter the number of rows"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
        for j in range(i+1):
            print("*",end=" ")
     print(\n)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [43]:
lb=int(input("enter the lower bound value"))
ub=int(input("enter the upper bound value"))
s=0
for i in range(lb,ub+1):
    if i%2==0:
        s=s+i
        print(i,end=" ")
print('\nsum is',s)

enter the lower bound value 1
enter the upper bound value 6

2 4 6
sum is 12

In [45]:
for i in range(1,100):
    if i%5==0 and i%2!=0:
        print(i,end=',')

5,15,25,35,45,55,65,75,85,95,

In [47]:
a=int(input("enter the value of n:"))
for i in range(1,11):
    print(a,'X',i,'=',a*i)

enter the value of n: 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [52]:
a=int(input("enter the value of n:"))
for i in range(n):
    for j in range(n+1,):
        print("*",end='')

enter the value of n: 5

******************************

In [9]:
n=int(input("enter the number of rows"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
        for j in range(i+1): 
            print("*",end=' ')
        print()

enter the number of rows 5

 *
 *
 *
 *
 * *
 * *
 * *
 * * *
 * * *
 * * * *

In [10]:
n=int(input("enter the value of n:"))
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
        for j in range(i,n-1):
            print('*',end='')
            for j in range(i,n):
                print('*',end="")
    print()

enter the value of n: 5

 ************************
 *************** ***************
 ******** ******** ********
 *** *** *** ***

In [6]:
numbers=[1,2,3,4]
for num in numbers:
    if num==4:
        break
        print(num)